.vs/APITestHeroku/v16/.suo
APITestHeroku/bin/Debug/netcoreapp3.1/APITestHeroku.StaticWebAssets.xml
APITestHeroku/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
APITestHeroku/bin/Debug/netcoreapp3.1/APITestHeroku.runtimeconfig.json
APITestHeroku/bin/Debug/netcoreapp3.1/APITestHeroku.exe
APITestHeroku/bin/Debug/netcoreapp3.1/APITestHeroku.dll
APITestHeroku/bin/Debug/netcoreapp3.1/APITestHeroku.deps.json
APITestHeroku/bin/Debug/netcoreapp3.1/appsettings.json
APITestHeroku/bin/Debug/netcoreapp3.1/appsettings.Development.json
APITestHeroku/bin/Debug/netcoreapp3.1/APITestHeroku.runtimeconfig.dev.json
APITestHeroku/bin/Debug/netcoreapp3.1/APITestHeroku.pdb
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.csprojAssemblyReference.cache
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.csproj.FileListAbsolute.txt
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.csproj.CoreCompileInputs.cache
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.assets.cache
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.RazorTargetAssemblyInfo.cache
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.MvcApplicationPartsAssemblyInfo.cache
APITestHeroku/obj/Container/ContainerRunContext.cache
APITestHeroku/obj/Container/ContainerOperatingSystemFlavor.cache
APITestHeroku/obj/Container/ContainerName.cache
APITestHeroku/obj/Container/ContainerId.cache
APITestHeroku/obj/Container/ContainerDevelopmentMode.cache
APITestHeroku/obj/project.assets.json
APITestHeroku/obj/Debug/netcoreapp3.1/staticwebassets/APITestHeroku.StaticWebAssets.xml
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.pdb
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.genruntimeconfig.cache
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.exe
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.dll
APITestHeroku/obj/Container/ImageBuildContext.cache
APITestHeroku/obj/Container/FastModeProjectMountDirectory.cache
APITestHeroku/obj/Container/DebuggeeWorkingDirectory.cache
APITestHeroku/obj/Container/DebuggeeProgram.cache
APITestHeroku/obj/Container/DebuggeeKillProcessCommand.cache
APITestHeroku/obj/Container/DebuggeeArguments.cache
APITestHeroku/obj/Container/AdditionalProbingPaths.cache
APITestHeroku/obj/Container/AbsoluteOutputAssemblyPath.cache
APITestHeroku/obj/APITestHeroku.csproj.nuget.g.targets
APITestHeroku/obj/APITestHeroku.csproj.nuget.g.props
APITestHeroku/obj/APITestHeroku.csproj.nuget.dgspec.json
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.AssemblyInfoInputs.cache
APITestHeroku/obj/Container/TargetFramework.cache
APITestHeroku/obj/Container/OperatingSystemName.cache
APITestHeroku/obj/Container/ContainerCreationResult.cache
APITestHeroku/obj/project.nuget.cache
APITestHeroku/obj/Debug/netcoreapp3.1/APITestHeroku.AssemblyInfo.cs
APITestHeroku/obj/Container/VsDbgScript.cache
APITestHeroku/obj/Container/ImageId.cache
